@import "tailwindcss";

:root {
  --font-satoshi: "Satoshi", Arial, sans-serif;
  --font-birkenNue: "BirkenNue", Arial, sans-serif;

  --primary: #6b1aff;
  --color-primary-dark: #4a008c;
  --color-primary-light: #b57aff;
  --color-light-card-bg: #f2ebff;

  --color-dark-cards-bg: #292929;
  --color-dark: #1b1b1b;
}

body {
  background: var(--background);
  color: var(--color-dark-cards-bg);
  font-family: var(--font-satoshi);
  font-size: 22px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-birkenNue) !important;
  font-weight: 500;
}

p {
  font-size: 22px;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 80px;
  line-height: 80px;
}

h3 {
  font-size: 55px;
}

h4 {
  font-size: 45px;
  line-height: 45px !important;
}

h5 {
  font-size: 38px;
}

h6 {
  font-size: 26px;
}

/* text colour  */

.color-dark {
  color: var(--color-dark);
}

.color-dark-cards-bg {
  color: var(--color-dark-cards-bg);
}

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary-light {
  color: var(--color-primary-light);
}

.color-light-card-bg {
  color: var(--color-primary-dark);
}

/* background colour  */

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-light-purple {
  background-color: var(--color-light-card-bg);
}

.btn {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  background-color: white;
  color: var(--primary) !important;
  transition: all 0.3s ease-in-out;
}

.btn-outline {
  color: var(--color-dark-cards-bg, #292929);
  border: 2px solid var(--color-dark-cards-bg, #292929);

  /* --- Animation Setup --- */
  background-image: linear-gradient(
    to right,
    var(--color-dark-cards-bg, #292929) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}

.btn-outline:hover {
  background-position: 0%; /* Slide the background in */
  color: white; /* Change text to white */
}

.btn-dark {
  background-color: #292929;
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.nav-link {
  font-size: 20px;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #000000;
}

.text-overlay {
  position: relative;
  display: inline-block;
}

.text-overlay::before {
  content: "";
  background-color: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.my-lg {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mb-lg {
  margin-bottom: 100px;
}

.mb-md {
  margin-bottom: 70px;
}

.fs-26 {
  font-size: 26px;
}

@media (max-width: 1023px) {
  .my-lg {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mb-lg {
    margin-bottom: 80px;
  }
  .mb-md {
    margin-bottom: 60px;
  }
  .nav-link {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
}

@media (max-width: 480px) {
  .my-lg {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mb-lg {
    margin-bottom: 50px;
  }
  .mb-md {
    margin-bottom: 40px;
  }
}

/* Footer Svg Animation */

/***************************************************
 * Generated by SVG Artista on 7/31/2025, 8:43:16 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.8s both;
  animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s
    both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    0.9s both;
  animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s
    both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1s both;
  animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.1s both;
  animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s
    both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.2000000000000002s both;
  animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.3s both;
  animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s
    both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.4000000000000001s both;
  animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.5s both;
  animation: animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s
    both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 41, 41);
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    1.6s both;
  animation: animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s
    both;
}

.peoblem-section .inner-wrapper {
  background-image: url("/assets/images/problem-section-bg.png");
  background-size: cover;
}

.gradient-line {
  position: relative;
}

.gradient-line::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-repeat: no-repeat;
}

.service-price {
  font-family: var(--font-satoshi) !important;
}

.nav-link:before {
  content: "";
  background-color: #6b1aff;
  border-radius: 10px 10px 0 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -4px;
  left: auto;
  right: 0;
}

.nav-link:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

.nav-link {
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-link {
  letter-spacing: -1px;
  font-weight: 500;
  position: relative;
}

/* MediaQuery  */

@media (max-width: 1279.97px) {
  p {
    font-size: 22px;
  }
  h1 {
    font-size: 120px;
  }

  h2 {
    font-size: 80px;
    line-height: 80px;
  }

  h3 {
    font-size: 55px;
  }

  h4 {
    font-size: 45px;
  }

  h5 {
    font-size: 26px;
  }
  .fs-26 {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  p {
    font-size: 22px;
  }
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 70px;
    line-height: 70px;
  }
  h3 {
    font-size: 50px;
  }
  h4 {
    font-size: 40px;
  }
  .fs-26 {
    font-size: 22px;
  }
}

@media (max-width: 767.97px) {
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
    line-height: 60px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  .fs-26 {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .fs-26 {
    font-size: 16px;
  }
}

@media (max-width: 343px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .fs-26 {
    font-size: 16px;
  }
}

.navbar {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 16px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  backdrop-filter: none;
}

.navbar.scrolled {
  top: 0;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15px);
}

.navbar .container {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(15px);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.navbar.scrolled .container {
  background: transparent;
  backdrop-filter: none;
}

/* Custom Swiper Pagination Styles */

/* 1. Default (Mobile-First) styles: Center the pagination */
.swiper-pagination {
  position: absolute !important;
  bottom: -15px !important;
  left: 50% !important; /* Position the left edge at the center */
  transform: translateX(
    -50%
  ); /* Shift it back by half its width to be perfectly centered */
  width: auto !important;
  display: flex;
  gap: 5px;
}

/* 2. Desktop styles: Move pagination to the right on medium screens and up */
@media (min-width: 768px) {
  /* This is the 'md' breakpoint in Tailwind */
  .swiper-pagination {
    left: auto !important; /* Reset the left property */
    right: 0px !important; /* Position it to the right */
    transform: none; /* Reset the transform */
  }
}

/* 3. Style the default (inactive) dots (no changes needed here) */
.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 8px;
  background-color: #d1d5db; /* Light Gray */
  opacity: 0.8;
  border-radius: 5px; /* Use 5px to match the active one */
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* 4. Style the ACTIVE dot (no changes needed here) */
.swiper-pagination .swiper-pagination-bullet-active {
  width: 51px; /* Make the active dot longer */
  background-color: #374151; /* Dark Gray */
  border-radius: 5px; /* Give it rounded ends like a pill */
  opacity: 1;
}

/* This makes the Swiper animation perfectly linear for a smooth marquee effect */
.swiper-wrapper-linear {
  transition-timing-function: linear !important;
}

.hero-section {
  padding-top: 295px;
}

/* globals.css */

.big-number {
  @apply text-[120px] sm:text-[130px] md:text-[140px] lg:text-[150px];
  color: #ffff;
}

/* Animation utility class */
.btn-shine {
  position: relative; /* Necessary for positioning the shine element */
  overflow: hidden; /* Hides the shine element when it's outside the button */
}

/* The shine element */
.btn-shine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start off-screen to the left */
  width: 75%;
  height: 100%;

  /* The angled gleam look */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.616) 50%,
    /* Brighter in the middle */ rgba(255, 255, 255, 0) 80%
  );

  transform: skewX(-25deg); /* Skew the shine element */
  transition: left 0.6s ease; /* Animation speed */
}

/* On hover, move the shine element across the button */
.btn-shine:hover::before {
  left: 125%; /* End off-screen to the right */
}

/* Ensure the button text stays on top of the shine effect */
